{% extends "heal/layout.html" %}
{% block title %}Home Page{% endblock %}
{% block body %}
  <br>
  <div class="row">
    <div class="col-lg-12" >
      <img src="/static/heal/title.png" id="title_image" alt="title" style="width:100%"/>
    </div>
  </div>

  <div class="section-container" style="margin-top:5%">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center">
            <h2>About Us</h2>
            <p>We are blah blah and we do blah blah. Lol</p>
          </div>
       </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
      <a href="{% url 'heal:register' %}"><input class="btn btn-primary btn-lg" type="submit" style="margin-left:35%" value="Signup"></a>
    </div>
    <div class="col-md-2">
      <a href="{% url 'heal:login' %}"><input class="btn btn-primary btn-lg" type="submit" style="margin-left:35%" value="Login"></a>
    </div>
    <div class="col-md-4">
    </div>
  </div>


{% endblock %}
