{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script type="text/javascript" src="/static/heal/script.js"></script>
    <link href="{% static 'heal/styles.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div class="topnav" id="myTopnav">
          <a id="home" href="{% url 'heal:index' %}" class="active">Home</a>
          <a href="{% url 'heal:community' %}">Community</a>
          <a href="#">Message</a>
          <a href="#">Contact</a>
          <div class="topnav-right">
            {% if user.is_authenticated %}
              <a href="{% url 'heal:logout' %}">Log Out</a>
            {% else %}
              <a href="{% url 'heal:register' %}">Sign Up</a>
              <a href="{% url 'heal:login' %}">Login</a>
            {% endif %}
          </div>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
    </div>

    {% block body %}
    {% endblock %}
    <footer class="page-footer font-small unique-color-dark">

      <div style="background-color:#a6a6a6">
        <div class="container">

          <!-- Grid row-->
          <div class="row py-4 d-flex align-items-center">

            <!-- Grid column -->
            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
              <h6 class="mb-0">Get connected with us on social networks!</h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 col-lg-7 text-center text-md-right">

              <!--Facebook-->
              <button type="button" class="btn btn-fb"><i class="fa fa-facebook left"></i></button>
              <!--Twitter-->
              <button type="button" class="btn btn-tw"><i class="fa fa-twitter left"></i></button>
              <!--Google +-->
              <button type="button" class="btn btn-gplus"><i class="fa fa-google-plus left"></i></button>
              <!--Linkedin-->
              <button type="button" class="btn btn-li"><i class="fa fa-linkedin left"></i></button>
              <!--Instagram-->
              <button type="button" class="btn btn-ins"><i class="fa fa-instagram left"></i></button>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row-->

        </div>
      </div>
    </footer>
  </body>

</html>
